:root {
  --primary-color: #0012af;
  --secondary-color: #030b52;
  --pop-color: #ffae00;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --overlay-color: rgba(255, 255, 255, 0.95);
  --max-width: 1100px;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p1 {
  padding: 1.5rem;
}
.p2 {
  padding: 2rem;
}
.p3 {
  padding: 3rem;
}

.text-center {
  text-align: center;
}

.btn {
  /* display: inline-block; */
  border: none;
  background: var(--primary-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--secondary-color);
}

/* Navigation */
#nav {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#nav .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

#nav .nav-left {
  display: flex;
  flex-direction: column;
}

#nav .nav-left a {
  padding: 0.5rem 0;
}

#nav img {
  align-self: center;
  width: 150px;
}

#nav .nav-right {
  padding: 0.5rem 1.5rem;
}

#nav .nav-right li {
  /* padding: 1rem 0; */
}

#nav .nav-right a {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

#nav .nav-right a:hover {
  background: var(--secondary-color);
  color: #fff;
  border-radius: 5px;
}

/* Hero */
#home {
  background: var(--dark-color) url('../img/truck.jpg') no-repeat fixed
    center/cover;
  background-blend-mode: overlay;
  height: 80vh;
  color: #fff;
}

#home .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

/* Section: Services */
#services {
  background: var(--light-color);
}

#services .services {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex: 1;
  padding-bottom: 2rem;
}

/* Section: Reviews */
#reviews {
  background: var(--dark-color) url('../img/typing.jpg') no-repeat fixed
    center/cover;
  height: 100%;
  color: #fff;
  /* overlay */
  background-blend-mode: overlay;
}

#reviews .testimonial {
  background: #f7c78d;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  opacity: 0.85;
}

/* Section: About Us */
#about {
  background: var(--dark-color);
  color: var(--light-color);
}

#about img {
  position: relative;
  width: 75%;
  border-radius: 50%;
}

#about .movers,
#about .jeff {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5rem;
  line-height: 1.6rem;
}

#about p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* Section: Contact */
#contact .container .flex {
  display: flex;
  flex-direction: column;
}

#contact .form-group {
  margin: 0.75rem 0rem;
}

#contact .contact-form label {
  display: block;
}

#contact .form-group input,
#contact .form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

#contact .btn {
  display: block;
  text-align: center;
  padding: 0.5rem 3rem;
}

#contact .connect {
  display: flex;
  flex-direction: column;
}

#contact .connect .contact-info {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

#contact .connect .contact-info li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--dark-color) dotted 1px;
}

#contact .connect .contact-info li:last-child {
  border: none;
}

#contact .connect .social {
  margin: auto;
  text-align: center;
}

#contact .connect .social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact .connect .social ul li {
  align-self: center;
}

#contact .connect .social a:hover {
  color: var(--primary-color);
}

/* Footer */
#footer {
  background: var(--dark-color);
  color: #fff;
}
